#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
}

.todo {
  &-container {
    width: 80%;
    margin: 0 auto;
  }
  &-create {
    margin: 1rem;
  }
}